<html>
    <head></head>
    <body>
        <h1>Delete Book</h1>
        <p1>Are you sure want to delete {{book_name}}?</p1>
        <br/>
        <form action="{{url_for('deleteBook', book_id = book_id)}}" method = 'POST'>
            <input type='submit' value='Yes'>
        <a href="{{url_for('showBook')}}">No</a><br/>
    </body>
</html>