<html>
    <head></head>
    <body>
        <h1>New Book</h1>
        <p1>Name: </p1>
        <form action="{{url_for('newBook')}}" method = 'POST'>
            <input type='text' size='30' name='name'>
            <input type='submit' value='Create'></form>
        <a href="{{url_for('showBook')}}">Done</a><br/>
    </body>
</html>